<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kratos.kracart.model.AdministratorModel">
	
	<resultMap type="Administrator" id="rmAdmin">
		<id property="id" column="id" />
		<result property="name" column="user_name" />
		<result property="email" column="email_address" />
	</resultMap>
	<resultMap type="Administrator" id="rmAdminLevels">
		<id property="id" column="id" />
		<result property="name" column="user_name" />
		<collection property="access" ofType="AdministratorAccess" column="administrators_id">
			<result property="module" column="module" />
		</collection>
	</resultMap>
	
	<update id="updatePassword" parameterType="Administrator">
		update toc_administrators
		   set user_password = #{password}
		 where email_address = #{email}
	</update>
	
	<select id="getAdministratorByMail" parameterType="string" resultMap="rmAdmin">
		select id, user_name, email_address
		  from toc_administrators
		 where email_address = #{email}
	</select>
	
	<select id="getAdminSettingByName" parameterType="string" resultType="string">
		select user_settings
		  from toc_administrators
		 where user_name = #{name}
	</select>
	
	<select id="getAdminLevels" parameterType="string" resultMap="rmAdminLevels">
		select a.id, a.user_name as name, ac.module
		  from toc_administrators a
		 inner join toc_administrators_access ac on ac.administrators_id = a.id
		 where a.user_name = #{name}
	</select>
	
	<update id="saveAdminSetting" parameterType="map">
		update toc_administrators
		   set user_settings = #{setting}
		 where user_name = #{name}
	</update>

</mapper>