<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kratos.kracart.model.ManufacturerModel">
	
	<resultMap type="Manufacturer" id="rmManufacturer">
		<id property="id" column="manufacturers_id" />
		<result property="name" column="manufacturers_name" />
		<result property="image" column="manufacturers_image" />
		<result property="dateAdded" column="date_added" />
		<result property="dateUpdated" column="last_modified" />
	</resultMap>
	
	<sql id="selectManufacturer">
		select manufacturers_id, manufacturers_name, manufacturers_image, date_added, last_modified
		  from toc_manufacturers
	</sql>
	
	<select id="getManufacturers" parameterType="map" resultMap="rmManufacturer">
		<include refid="selectManufacturer"/>
		 order by manufacturers_name
		 <if test="start != null and limit != null">
		 	limit #{start}, #{limit}
		 </if>
	</select>
	
	<select id="getSumClicks" parameterType="int" resultType="int">
		select sum(url_clicked) as total
		  from toc_manufacturers_info
		 where manufacturers_id = #{id}
	</select>
	
</mapper>