<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kratos.kracart.model.NewsletterModel">
	
	<resultMap type="Newsletter" id="rmNewsletter">
		<id property="id" column="newsletters_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="module" column="module" />
		<result property="dateAdded" column="date_added" />
		<result property="dateSent" column="date_sent" />
		<result property="status" column="status" />
		<result property="locked" column="locked" />
	</resultMap>
	<resultMap type="NewsletterLog" id="rmNewsletterLog">
		<result property="email" column="email_address" />
		<result property="dateSent" column="date_sent" />
	</resultMap>
		
	
	<sql id="selectNewsletter">
		select newsletters_id, title, content, module, date_added, date_sent, status, locked
		  from toc_newsletters
	</sql>
	
	<select id="getNewsletters" parameterType="map" resultMap="rmNewsletter">
		<include refid="selectNewsletter"/>
		 order by date_added desc
		 <if test="start != null and limit != null">
		 	limit #{start}, #{limit}
		 </if>
	</select>
	
	<select id="getNewsletterById" parameterType="int" resultMap="rmNewsletter">
		<include refid="selectNewsletter"/>
		where newsletters_id = #{id}
	</select>
	
	<update id="updateNewsletter" parameterType="Newsletter">
		update toc_newsletters
		<trim prefix="set" suffixOverrides=",">
		   	<if test="title != null">title = #{title},</if>
		   	<if test="content != null">content = #{content},</if>
		   	<if test="module != null">module = #{module},</if>
		   	<if test="dateSent != null">date_sent = #{dateSent},</if>
		   	<if test="status != null">status = #{status},</if>
		   	<if test="locked != null">locked = #{locked}</if>
		 </trim>
		 where newsletters_id = #{id}
	</update>
	
	<insert id="insertNewsletter" parameterType="Newsletter" 
		keyColumn="newsletters_id" keyProperty="id" useGeneratedKeys="true">
		insert into toc_newsletters (title, content, module, date_added, status)
		values (#{title}, #{content}, #{module}, #{dateAdded}, #{status})		
	</insert>

	<delete id="deleteNewsletter" parameterType="int">
		delete
		  from toc_newsletters
		 where newsletters_id = #{id}
	</delete>

	<insert id="insertNewsletterLog" parameterType="NewsletterLog">
		insert into toc_newsletters_log (newsletters_id, email_address, date_sent)
		values (#{id}, #{email}, #{dateSent})
	</insert>

	<delete id="deleteNewsletterLog" parameterType="int">
		delete
		  from toc_newsletters_log
		 where newsletters_id = #{id}
	</delete>

	<select id="getNewsletterLogs" parameterType="map" resultMap="rmNewsletterLog">
		select email_address, date_sent
		  from toc_newsletters_log
		 where newsletters_id = #{id}
		 order by date_sent desc
		 <if test="start != null and limit != null">
		 	limit #{start}, #{limit}
		 </if>
	</select>
	
</mapper>